{% extends "core/base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Синхронизация с источниками' %}
{% endblock title %}

{% block content %}
    <div class="sources">
        <a class="nav" href="/">&larr; {% trans 'На главную' %}</a>
        <form action="{% url 'sync' %}" method="post">
            {% csrf_token %}
            <h3>{% trans 'Источники' %}</h3>
            <ul>
            {% for s in sources %}
                <li>
                    <input type="checkbox" name="source" id="source{{ forloop.counter }}" value="{{ s.id }}"/>
                    <a href="{{ s.url }}">{{ s.title }}</a>
                    <span> ({{ s.sync_date }})</span>
                </li>
            {% endfor %}
            </ul>
            <input type="submit" value="{% trans 'Синхронизировать' %}"/>
        </form>
    </div>
{% endblock content %}